$primary: #45aaf2;
$primary-dark: #3867d6;
$body: #f5f6fa;
$white: #f5f5f5;
$grey: #dcdde1;
$succes: #44bd32;
$error: #e84118;
$black: #2f3640;
$yellow: #fbc531;

$font-stack: 'Inter UI', sans-serif;
