@import "variables";

*{
    font-family: $font-stack;
    box-sizing: border-box;
}

body{
    background: $body;
    margin: 0;

}

a{
    text-decoration: none;
    &:visited{
        text-decoration: none;
        color: inherit;
    }
}

.navbar{
    padding: 1em 5em;
    .logo{
        font-size: 2em;
        font-weight: 800;
        color: $black;
        
    }
    }