@import "variables";

*{
    font-family: $font-stack;
    box-sizing: border-box;
}

body{
    background: $white;
    margin: 0;

}

a{
    text-decoration: none;
    &:visited{
        text-decoration: none;
        color: inherit;
    }
}

p{
  line-height: 1.5;
}

.btn{
  display: flex;
  cursor: pointer;
  background: $primary;
  color: white;
  align-items: center;
  padding: 1em 4em;
  transition: 200ms ease;
  text-transform: uppercase;
  &:hover{
    background: darken($primary, 10);
  }

  svg{
    margin-right: 15px;
    width: 18px;
  }
}

.grid-wrapper{
  display: grid;
  grid-template-columns: auto 1fr 2fr;
  grid-template-rows: 80px auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.logo {
   grid-area: 1 / 1 / 2 / 2;
   padding: 1em 2em;
   font-size: 1.75em;
   font-weight: 900;
   color: $primary;
   height: 100%;
   width: 100%;
   align-self: center;
   justify-self: center;
   background: $grey;
  
  }
  .menu {
    grid-area: 2 / 1 / 3 / 2;
    background: $grey;
    padding: 0 3em;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-rows: 150px repeat(2, auto);
    .btn{
      justify-self: center;
    }
    .nav{
      display: grid;
        grid-template-rows: auto;
        row-gap: 30px;

        .menu-punkt{
          display: flex;
          align-items: center;
          justify-content: flex-start;
          color: $black;
          opacity: 0.5;
          transition: 200ms ease;

          &:hover{
            opacity: 0.8;
          }
          svg{
            margin-right: 30px;
            width: 18px;
          }
          .badge{
            margin-left: 30px;
            min-width: 10px;
            padding: 3px 9px;
            font-size: 14px;
            font-weight: 500;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            background-color: $primary;
            border-radius: 10px;
          }
        }
        .menu-punkt.active{
          opacity: 1;
      }
    }
    .profile{
      display: flex;
      align-items: center;

      img{
        width: 45px;
        height: 45px;
        border-radius: 100%;
        margin-right: 15px;
        object-fit: cover;
        object-position: top;
      }
      svg{
        color: $black;
        margin-left: 10px;
        width: 16px;
        opacity: 0.6;
        transition: 200ms ease;

        &:hover{
          opacity: 1;
        }
      }
      .logud{
        color: $error;
      }
    }
  }


.search {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  align-items: center;
  padding: 1em 2em;
  border-right: 1px solid darken($grey,10);
  box-shadow: 0px 2px 2px rgba(0,0,0,0.1);

  input{
    width: 100%;
    border: none;
    padding: 1em 0.3em;
    font-size: 14px;
    border-bottom: 1px solid darken($grey,10);
    &:focus{
      outline: none;
    }
  }

  .search-icon{
    width: 22px;
    opacity: 0.5;
    color: $black;
    margin-right: 15px;
  }
}
.mail-toolbar {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.1);

  div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  a{
    display: flex;
    align-items: center;
    font-size: 10px;
    color: $black;
    margin-right: 10px;
    opacity: 0.6;
    transition: 200ms ease;
    text-transform: uppercase;
    &:hover{
     opacity: 1;
  }
  

  .right{
    div{
      display: inline;
      margin-right: 30px;
    }
  }
 

  svg{
    height: 18px;
    color: $black;
    opacity: 0.6;
    transition: 200ms ease;
    &:hover{
      opacity: 1;
    }
  }
}
}
.content-container { grid-area: 2 / 2 / 3 / 3; }
.reading { grid-area: 2 / 3 / 3 / 4; }


/* sektion 2 */
.modtaget-container{
  display: flex;
  flex-direction: column;
  background-color: $white;

  .mails{
    padding: 0 2em;
    color: $black;
    height: 120px;
    border-top: 1px solid $black;
    display: grid;
    grid-template-columns: 0.4fr 4fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;

    svg{
      opacity: 0;
      stroke-width: 1.5;
    }

    &:hover svg{
      opacity: 1;
    }

    &:hover{
      .mail-icons svg{
        opacity: 1;
      }
    }

    p{
      margin: 0;
    }

    .star-marked{
      padding-top: 10px;

      .icon-yellow:hover{
        fill: $yellow;
        stroke: $yellow;
      }
    }

    .titel{
      font-weight: 800;
      align-self: end;
    }

    .mail-icons{
      width: 60px;
      padding-top: 10px;
      display: flex;
      justify-content: space-between;
      justify-self: flex-end;

      svg{
        stroke-width: 1.5px;
        opacity: 0;
        transition: 300ms ease;
      }

      .icon-red:hover{
        fill: lighten($error, 5);
      }
    }

    .dato{
      font-size: 14px;
      justify-self: flex-end;
    }
  }

  .star-marked { grid-area: 1 / 1 / 3 / 2; }
  .titel { grid-area: 1 / 2 / 2 / 3; }
  .mail-icons { grid-area: 1 / 3 / 2 / 4; }
  .mail-emne { grid-area: 2 / 2 / 3 / 3; }
  .dato { grid-area: 2 / 3 / 3 / 4; }

  .read{
    background: $grey;
  }

  @media screen and (min-width: 992px){
    display: flex;
    flex-direction: column;
    width: 100%;
    border-left: 1px solid $black;
    border-radius: 1px solid $black;
  }
}

.mail-container {
  display: none;

  @media screen and (min-width: 992px){
    display: flex;
    flex-direction: column;
    background: $grey;
    width: 100%;
    height: 100%;
  }
}
